<head>
    <!-- Font family -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="stylesheets/normalize.css">

    <!-- Javascript external libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.5.4.min.js"></script>
    <script src="scripts/constants.js"></script>
    <script src="scripts/canvas-drawing.js"></script>
    <script src="scripts/buttons-drawing.js"></script>

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Hear me roar</title>
</head>

<body>
    Testing...
</body>